.section-navbar {
    width: 100%;
    background-color: $dark-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            span {
                color: #fff;
                text-decoration: none;
                font-size: 27px;
                font-family: $grenze;
            }
        }
        
        .burger-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            @include media('>phone') {
                display: none;
            }
            .button {
                width: 100%;
                height: 3px;
                background-color: #fff;
                &::before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 30px;
                    background-color: #fff;
                    transform: translateY(-8px);
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 30px;
                    background-color: #fff;
                    transform: translateY(8px);
                }
            }
        }
        
        &__links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;

            &__link {
                @include media('<=phone') {
                    display: none;                          
            }
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 19px;
                    font-family: $lato;
                }
            }
        }
    }
}