.section-web {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__image {
            background: url('../IMG/person_and_IT.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 550px;
            width: 550px;
        }
        &__subtitle {
            width: 50%;
            height: 100%;
            p {
                color: $dark-color;
                font-family: $grenze;
                font-size: 35px;
            }
        }
    }
}